
h1{
    text-align: center;
    font-size: 500%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    color: black;
    line-height: 1.6;
    padding: 20px;
}


.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}


.column {
    display:flex;
    flex-direction:column;
    gap: 20px;
}


.section {
    background-color:lightyellow;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
}

.column .section {
    flex: 5;
    display: flex;
    flex-direction: column;
}


.section:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.section h2 {
    font-size: 30px;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 7px;
}


.section img {
    max-width: 80%;
    height: 500px;
    display: grid;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.section p {
    margin-top: 10px;
    line-height: 1.8;
    flex-grow: 10;
    font-weight: bolder;
    font-size: 30px ;
}


